<?xml version="1.0" encoding="utf-8"?>
<siteSyncConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8600.0" enabledAsTarget="False">
	<receivingServers>
		<clear />
		<add serverAddress="https://localhost:44354" userName="tiwarisansar2001@gmail.com" password="[sf-scrt-rslvr=Encrypt]r35PSgWCMGxCHEatAYXtq2yEDxUBS27GCF9yrP8bBd9A/wokaimjE8Asf1YSDTWxQWVzV2l0aEhtYWPX89HoyVYKjjkgAjmmrnXWNpTfxTqLv9gZeAvFh9GbJQ==" serverUserFriendlyName="SitefinityRepo" serverId="9eadcaee-586a-4359-bbba-b20d568988e8" />
	</receivingServers>
</siteSyncConfig>