<?xml version="1.0" encoding="utf-8"?>
<siteSyncConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.4.8600.0" enabledAsTarget="False">
	<receivingServers>
		<clear />
		<add serverAddress="https://localhost:44345" apiKey="[sf-scrt-rslvr=Encrypt]YKTEJNeVq9wB0lfp9BlRVEc7k/XQKjMnEP4l8NaiS2JxDMO/YwEJ46I7d8ewWQHHQWVzV2l0aEhtYWPBYD65j7acp+qT2bEbk8JxT4yMGp8sRmxkYK9+Qx2GSw==" serverUserFriendlyName="SitefinityRepo" serverId="9eadcaee-586a-4359-bbba-b20d568988e8" />
	</receivingServers>
</siteSyncConfig>